/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(230, 75%, 56%);
  --title-color: hsl(230, 75%, 15%);
  --text-color: hsl(230, 12%, 40%);
  --body-color: hsl(230, 100%, 98%);
  --container-color: hsl(230, 100%, 97%);
  --border-color: hsl(230, 25%, 80%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Syne", sans-serif;
  --h2-font-size: 1.25rem;
  --normal-font-size: .938rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1023px) {
  :root {
    --h2-font-size: 1.5rem;
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
input,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

input,
button {
  border: none;
  outline: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/* .main {
  position: relative;
  height: 100vh;
}

.main__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
} */

.section {
  padding: 4.5rem 0 2rem;
}

.section__title {
  position: relative;
  font-size: var(--h1-font-size);
  padding-left: 1.25rem;
  margin-bottom: 2.5rem;
}

.section__title::before {
  content: '';
  position: absolute;
  top: 8px;
  left: 0;
  width: 3px;
  height: 20px;
  background-color: var(--first-color);
}

.search,
.login,
.register {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: var(--z-modal);
  background-color: hsla(230, 75%, 15%, .1);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px); /* For safari */
  padding: 8rem 1.5rem 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity .4s;
}

.search__close,
.login__close,
.register__close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--body-color);
  box-shadow: 0 2px 16px hsla(230, 75%, 32%, .15);
  z-index: var(--z-fixed);
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: color .4s;
}

.nav__actions {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.nav__search, 
.nav__login, 
.nav__toggle, 
.nav__close {
  font-size: 1.25rem;
  color: var(--title-color);
  cursor: pointer;
  transition: color .4s;
}

:is(.nav__logo, .nav__search, .nav__login, .nav__toggle, .nav__link):hover {
  color: var(--first-color);
}

.nav__logo{
  display: flex; 
  align-items: center;
  column-gap: 0.5rem;
  font-weight: var(--font-bold);
}

.nav__logo-img{
  width: 2.5rem;
  border-radius: 10px;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1023px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    background-color: var(--body-color);
    box-shadow: 0 8px 16px hsla(230, 75%, 32%, .15);
    width: 100%;
    padding-block: 4.5rem 4rem;
    transition: top .4s;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  text-align: center;
}

.nav__link {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: color .4s;
}

.nav__close {
  position: absolute;
  top: 1.15rem;
  right: 1.5rem;
}

/* Show menu */
.show-menu {
  top: 0;
}

/*=============== SEARCH ===============*/
.search__form {
  display: flex;
  align-items: center;
  column-gap: .5rem;
  background-color: var(--container-color);
  box-shadow: 0 8px 32px hsla(230, 75%, 15%, .2);
  padding-inline: 1rem;
  border-radius: .5rem;
  transform: translateY(-1rem);
  transition: transform .4s;
}

.search__icon {
  font-size: 1.25rem;
  color: var(--title-color);
}

.search__input {
  width: 100%;
  padding-block: 1rem;
  background-color: var(--container-color);
  color: var(--text-color);
}

.search__input::placeholder {
  color: var(--text-color);
}

/* Show search */
.show-search {
  opacity: 1;
  pointer-events: initial;
}

.show-search .search__form {
  transform: translateY(0);
}

/*=============== LOGIN AND REGISTER ===============*/
.login__form, 
.login__group {
  display: grid;
}

.login__form {
  background-color: var(--container-color);
  padding: 2rem 1.5rem 2.5rem;
  box-shadow: 0 8px 32px hsla(230, 75%, 15%, .2);
  border-radius: 1rem;
  row-gap: 1.25rem;
  text-align: center;
  transform: translateY(-1rem);
  transition: transform .4s;
}

.login__title {
  font-size: var(--h2-font-size);
  color: var(--title-color);
}

.login__group {
  row-gap: 1rem;
}

.login__label {
  display: block;
  text-align: initial;
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-bottom: .25rem;
}

.login__input {
  width: 100%;
  background-color: var(--container-color);
  border: 2px solid var(--border-color);
  padding: 1rem;
  border-radius: .5rem;
  color: var(--text-color);
}

.login__input::placeholder {
  color: var(--text-color);
}

.login__signup {
  margin-bottom: .5rem;
}

.login__signup a {
  color: var(--first-color);
}

.login__forgot {
  display: inline-block;
  color: var(--first-color);
  margin-bottom: 1.25rem;
}

.login__button {
  display: inline-block;
  background-color: var(--first-color);
  width: 100%;
  color: #fff;
  font-weight: var(--font-semi-bold);
  padding: 1rem;
  border-radius: .5rem;
  cursor: pointer;
  transition: box-shadow .4s;
}

.login__button:hover {
  box-shadow: 0 4px 24px hsla(230, 75%, 40%, .4);
}

/* Show login */
.show-login {
  opacity: 1;
  pointer-events: initial;
}

.show-login .login__form {
  transform: translateY(0);
}

/* Active Link */
.active-link{
  color: #000;
}

/*=============== PRODUCTS ===============*/
.products__container{
  /* padding: 4rem 0 2.5rem; */
}
.products__filters{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem 2rem;
  margin-bottom: 3.5rem;
}

.products__line{
  position: relative;
}

.products__line::before{
  content: '';
  position: absolute;
  width: 1px;
  height: 40px;
  background-color: var(--first-color);
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

.products__item{
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  cursor: pointer;
}

.products__title{
  font-size: var(--h3-font-size);
  color: var(--text-color);
  margin-bottom: 0.5rem;
}

.products__stock{
  font-size: var(--small-font-size);
}

.products__content{
  grid-template-columns: 200px;
  justify-content: center;
}

.products__card{
  background-color: #fff;
  border-radius: 0.5rem;
}

.products__img{
  width: 150px;
  transition: 0.4s;
  margin: 0 auto;
}

.products__shape{
  background-color: lightgray;
  border-radius: 0.5rem 0.5rem 0 0;
  text-align: center;
  padding: 0.25rem 0;
}

.products__data{
  padding: 1rem 0 1.25rem 1rem;
  position: relative;
}

.products__price{
  font-size: var(--h2-font-size);
}

.products__name{
  font-size: var(--normal-font-size);
}

.products__button{
  border-radius: 50%;
  padding: 0.625rem;
  display: inline-flex;
  font-size: 1.25rem;
  position: absolute;
  right: 1rem;
  top: -1.25rem;
}

.products__card:hover .products__img{
  transform: translateY(-0.25rem);
}

/* Active link products */
.active-product .products__title{
  color: var(--title-color);
}

/*=============== FOOTER ===============*/
.footer{
  background-color: #83B4FF;
  padding: 4rem 0 2.5rem;
}

.footer__title{
  color: #000;
  font-size: var(--h1-font-size);
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  column-gap: 0.7rem;
}

.footer__title img{
  border-radius: 10px;
  width: 2rem;
}

.footer__description{
  margin-bottom: 0.75rem;
  color: #FDFFE2;
}

.footer__newsletter{
  display: flex;
  column-gap: 0.5rem;
}

.footer__input{
  border: none;
  outline: none;
  padding: 1.25rem 1rem;
  border-radius: 0.25rem;
  width: 70%;
  color: var(--text-color);
}

.footer__button{
  padding: 0.75rem;
  font-size: 2rem;
  border-radius: 0.25rem;
  display: inline-flex;
  background-color: #00215E;
}

.footer__button i{
  color: #FDFFE2;
  transition: 0.3s ease-in-out;
}

.footer__button i:hover{
  transform: translateX(3px);
}

.footer__content{
  row-gap: 2.5rem;
  padding-bottom: 1px solid var(--text-color);
}

.footer__subtitle{
  color: #1A2130;
  font-size: var(--h2-font-size);
  margin-bottom: 0.75rem;
}

.footer__information{
  color: #FDFFE2;
}

.footer__group{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 1.5rem;
}

.footer__social{
  display: flex;
  justify-content: center;
  column-gap: 1.5rem;
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.footer__social-link{
  color: #fff;
  transition: 0.3s;
}

.footer__social-link:hover{
  color: var(--first-color);
}

.footer__copy{
  color: #FDFFE2;
  font-size: var(--small-font-size);
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar{
  width: 0.6rem;
  background-color: hsl(206, 4%, 80%);
}

::-webkit-scrollbar-thunmb{
  width: 0.6rem;
  background-color: hsl(206, 4%, 64%);
}

::-webkit-scrollbar-thunmb:hover{
  width: 0.6rem;
  background-color: hsl(206, 4%, 48%);
}

/*=============== SCROLL UP ===============*/
.scrollup{
  position: fixed;
  right: 1rem;
  bottom: -30%;
  background-color: #fff;
  box-shadow: 0 4x 12px hsla(206, 4%, 20%, 0.1);
  display: inline-flex;
  padding: 0.35rem;
  border-radius: 0.15rem;
  font-size: 1.25rem;
  color: var(--title-color);
  z-index: var(--z-tooltip);
  opacity: 0.9;
  transition: 0.4s;
}

.scrollup:hover{
  transform: translateY(0.25rem);
  opacity: 1;
}

/*=============== SHOW SCROLL ===============*/
.show-scroll{
  bottom: 3rem;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 520px) {
  .container{
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .search,
  .login {
    padding-top: 10rem;
  }

  .search__form {
    max-width: 450px;
    margin-inline: auto;
  }

  .search__close,
  .login__close {
    width: max-content;
    top: 5rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    font-size: 2rem;
  }

  .login__form {
    max-width: 400px;
    margin-inline: auto;
  }

  .section{
    padding: 7rem 0 2rem;
  }

  .products__content{
    grid-template-columns: repeat(2, 200px);
  }

  .footer__newsletter{
    width: 350px;
  }
}

/* For large devices */
@media screen and (min-width: 1023px) {
  .nav {
    height: calc(var(--header-height) + 2rem);
    column-gap: 3rem;
  }
  .nav__close, 
  .nav__toggle {
    display: none;
  }
  .nav__menu {
    margin-left: auto;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 3rem;
  }

  .login__form {
    padding: 3rem 2rem 3.5rem;
  }

  .products__filter{
    margin: 4rem 0 5.5rem;
    column-gap: 4rem;
  }

  .products__content{
    grid-template-columns: repeat(4, 200px);
    justify-content: space-evenly;
    column-gap: 3rem;
  }

  .products__card{
    border-radius: 0.75rem;
  }

  .products__img{
    width: 170px;
  }

  .products__shape{
    padding: 2rem 0;
    border-radius: 0.75rem 0.75rem 0 0;
  }

  .products__data{
    padding: 1rem 0 1.5rem 1.5rem;
  }

  .products__name{
    font-size: var(--h3-font-size);
  }

  .products__button{
    font-size: 1.5rem;
    padding: 0.75rem;
    right: 1.5rem;
    top: -1.5rem;
  }

  .footer__content{
    grid-template-columns: repeat(4, max-content);
    column-gap: 4rem;
    padding-bottom: 5.5rem;
  }

  .footer__group{
    margin-top: 3rem;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__title{
    font-size: var(--h2-font-size);
  }

  .footer__social{
    column-gap: 2rem;
  }

  .footer__social-link{
    font-size: 1.5rem;
  }

  .scrollup{
    right: 3rem;
  }
}

@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }
}